{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "add-module-exports"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": [
        "transform-remove-console",
        "transform-remove-debugger"
      ]
    },
    "development": {
      "presets": ["react-hmre"],
    }
  }
}
