{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ["add-module-exports"],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": [
        "transform-remove-console",
        "transform-remove-debugger",
        "dev-expression"
      ]
    },
    "development": {
      "presets": ["react-hmre"],
    },
    "test": {
      "plugins": [
        ["webpack-loaders", { "config": "webpack.config.node.js", "verbose": false }]
      ]
    }
  }
}
